.ProductCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 700px;
  max-height: 700px;
  border: 1px solid lightgray;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.ProductCard .Avatar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ProductCard .Title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2a2727;
  font-weight: 700;
}

.ProductCard .Description {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #9b9090;
  font-weight: 400;
  padding: 0 10px;
}

.ProductCard .Size {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #1c1919;
  font-weight: 400;
  padding: 0 10px;
}

.ProductCard .Price {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #1c1919;
  font-weight: 700;
  padding: 0 10px;
}

.ProductCard .Actions {
  display: flex;
  justify-content: center;
  width: 100%;
}